.git
.github
node_modules
vendor
storage/app
storage/logs
storage/framework/cache
storage/framework/sessions
storage/framework/views
.env
.env.*
!.env.example
docker-compose.override.yml
*.log
*.cache
public/hot
public/build
